// header
// ==========

body { padding-top: 81px; }
.container { @include container(1200px); }
.center { text-align: center; }
.site-head {
  position: fixed;
  z-index: map-get($z-index, site-head);
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: background 0.3s ease 0s;
  &.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    .lt-ie9 & { @include ie-rgba(rgba(255, 255, 255, 0.9)); }
  }
}
.nav-icon {
  @extend %global-transition;
  @include button(23px '9px 10px');
  @include hidden(map-get($bp, site-head)); 
  float: right;
  margin-top: 10px;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background-color: map-get($alerts, warning);
  }
  i:before { float: left; }
}
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  &, svg, img { float: left; }
}
