// navigation
// ============

.site-nav { 
  overflow: hidden;
  transition: max-height 0.3s ease 0s;
  li {
    @include breakpoint(max 767) {
     font-size: 15px; 
    }
    &:last-child > a { 
      padding-right: 0; 
      &:hover {
        color: #333;
        background-color: transparent;
      }
    }
  }
  a {
    @extend %global-transition;
    display: block;
    &:hover {
      color: #fff;
      background-color: map-get($alerts, warning);
    }
  }
  .current > a { 
    color: map-get($alerts, warning); 
    &:hover { color: #fff; }
  }
  .btn { line-height: normal; }
  @include breakpoint(max (map-get($bp, site-head) - 1)) {
    clear: both;
    margin: 0 -2%;
    max-height: 0;
    background-color: #f2f2f2;
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.15);
    #site-nav-toggle:checked ~ & { max-height: 500px; }
    a {
      padding: 12px 2%;
    }
  }
  @include breakpoint(min map-get($bp, site-head)) {
    > ul {
      float: right;
    }
    li {
      float: left;
    }
    a {
      padding: 15px 20px;
      height: 51px;
      line-height: 51px;
    }
  }
  @include breakpoint(min 900) {
    a {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @include breakpoint(min 1100) {
   li { font-size: 18px; }
   a { 
    padding-left: 30px; 
    padding-right: 30px;
   }
  }
}
