// typography
// ===============

// .h1 { @include type(47px 600 l.2); }
.h2 { 
  @extend %global-transition;
  @include type(25px 1.2 center); 
  margin-bottom: 1em;
}
.h3 { 
  @include type(23px weight-normal); 
  // color: #666;
}
.h4 { @include type(17px uppercase); }
// .h5 { @include type(15px 700); }
// .h6 { @include type(47px 600 l.2); }

p {
  @include type(1.5);
  margin: 1.5em 0;
  color: #666;
  &:last-child {
    margin-bottom: 0;
  }
}
.tips {
  @extend %global-transition;
  @include type(12px);
}
@include breakpoint(min 640) {
  .h2 { @include type(32px); }
  .h3 { @include type(27px); }
  .tips { @include type(14px); }
}
@include breakpoint(min 1100) {
  .h2 { @include type(38px); }
  .h3 { @include type(32px); }
  .tips { @include type(16px); }
  p { @include type(18px); }
}