// banner
// ============

@each $item in 'success', 'info', 'danger', 'warning' {
  .banner-#{$item} {
    background-color: map-get($alerts, $item);
  }
}

.banner {
  padding: em(30) 0;
  margin-bottom: em(30);
  color: #fff;
  @include breakpoint(min 1024) {
    padding: em(50) 0;
  }
  @include breakpoint(min 1200) {
    padding: em(70) 0;
  }
  p { color: #fff; }
  &-home {
    @extend %clearfix;
    .title {
      @extend %global-transition;
      font-size: 26px;
      margin-bottom: 1.2em;
    }
    p {
      @extend %global-transition;
      font-size: 15px;
    }
    @include breakpoint(853 1024 1050) {
      .title { margin-top: 4%; }
    }
    @include breakpoint(560 768 1024 1199) {
      .title { font-size: 32px; }
      p { font-size: 18px; }
    }
    @include breakpoint(min 1200) {
      .title { font-size: 40px; }
      p { font-size: 20px; }
    }
  }
  &-section {
    text-align: center;
    .h2 { 
      text-transform: uppercase; 
      @include breakpoint(min 500) {
        position: relative;
        &:before,
        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 23%;
          height: 0;
          border-bottom: 1px solid  #fff;
        }
        &:before { margin-right: 5%; }
        &:after { margin-left: 5%; }
      }
    }
    p {
      @extend %global-transition;
      line-height: 1.6;
      max-width: 39em;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(min 640) {
        font-size: 18px;
      }
      @include breakpoint(min 800) {
        font-size: 20px;
      }
      @include breakpoint(min 1024) {
        font-size: 22px;
      }
      @include breakpoint(min 1100) {
        font-size: 24px;
      }
      @include breakpoint(min 1200) {
        font-size: 26px;
      }
      // font-size: 29px;
    }
  }
  @include breakpoint(max 799) {
    &-home {
      figure {
        margin-bottom: 30px;
      }
      svg { 
        width: 70%; 
        display: block;
        margin: 0 auto;
      }
    }
    &-content { text-align: center; }
  }
  @include breakpoint(min 800) {
    &-home { 
      figure { @include span(45 of 100 right); } 
      svg { 
        width: 100%; 
      }
    }
    &-content { @include span(55 of 100 right last); }
  }
}