// contact
// =============

.avatar {
  margin-bottom: em(30);
  img { 
    max-width: 70%; 
    height: auto;
  }
  figcaption {
    @include type(14px center);
    color: #666;
  }
  &-wrapper {
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

@include breakpoint(max 699) {
  .avatar {
    display: none;
  }
}
@include breakpoint(min 700) {
  .avatar {
    @include span(2 of 7 4%);
  }
  .contact-form {
    @include span(4.5 of 7 4% last);
  }
}