// contact
// =============

.avatar {
  margin-bottom: em(30);
  svg { 
    max-width: 80%; 
    height: auto;
  }
  figcaption {
    @include type(14px center);
    color: #666;
  }
  &-wrapper {
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #ebeff2;
    text-align: center;
  }
}

@include breakpoint(min 700) {
  .avatar {
    @include span(2 of 7 4%);
  }
  .contact-form {
    @include span(5 of 7 4% last);
  }
}