// home
// ===========

.section {
  padding: 6% 0;
  h3 {
    @include type(22px);
    margin-bottom: 1em;
  }
}

.gallery-2 {
  @include bp('max' 799) {
    > li { margin-bottom: 30px !important; }
  }
  @include bp('min' 800) { @include gallery(2); }
}
.compare {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  &-edbrite {
    background-color: #f5f5f5;
    border-radius: 7px;
    overflow: hidden;
    > h3 {
      color: #fff;
      background-color: map-get($alerts, 'success');
    }
  }
  h3 { 
    padding: 20px 30px; 
    margin-bottom: 0;
  }
  ul { 
    padding: 15px 30px; 
    > li {
      font-size: 16px;
      margin: 1.5em 0;
    }
  }
  span {
    display: table-cell;
    vertical-align: middle;
  }
  img {
    width: 70px;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.home-e-learning {
  text-align: center;
  background-color: map-get($alerts, 'warning');
  p { 
    @include type(16px); 
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    color: #000;
  }
}

.media {
  .h2 { text-transform: capitalize; }
  @include bp('max' 799) {
    text-align: center;
    .h2 { margin-top: 30px;}
  }
  @include bp('min' 800) {
    img { width: 45%; }
    .h2 { text-align: left; }
    &-left {
      img {
        float: left;
        margin-right: 30px;
      }
    }
    &-right {
      img {
        float: right;
        margin-left: 30px;
      }
    }
  }
}
.home-interface {
  color: #fff;
  background-color: map-get($alerts, 'success');
  p { color: inherit; }
}
.get-started {
  background-color: #f5f5f5;
}
.form-signup-3m {
  max-width: 860px;
}
.form-home {
  margin: 30px auto;
}
.home-tips {
  margin-top: 0.3em;
  text-align: center;
  color: map-get($alerts, danger);
}
