// section
// =============

// features
.gallery-features {
  text-align: center;
  svg, img {
    max-width: 140px;
    height: auto;
  }
  .h4 {
    margin: 1em 0;
    > span {
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        display: block;
        left: 10%;
        margin-top: 6px;
        width: 80%;
        position: absolute;
        border-bottom: 2px solid  #666;
      }
    }
    @each $item in 'arrow', 'ecology', 'education', 'ecology-2' {
      > .#{$item}:after {
        border-bottom-color: map-get($features, $item);
      }
    }
  }
  p {
    font-size: 14px;
  }
  li {
    padding-bottom: em(20);
  }
  @include breakpoint(min 600) {
    @include gallery(2 bottom);
  }
  @include breakpoint(min 920) {
    @include gallery(3 bottom);
  }
  @include breakpoint(min 1120) {
    @include gallery(4 bottom);
  }
  &-wrapper {
    border-bottom: 1px solid map-get($color, border);
    margin-bottom: em(30);
  }
}
.feature-list {
  max-width: 39em;
  margin: em(30) auto em(50);
  > li {
    display: inline-block;
    width: 16em;
    padding-left: em(50);
    line-height: 2;
    background: url('../img/check.png') left center no-repeat;
  }
  p { margin: 15px 0; }
  @include breakpoint(max 39em) {
    text-align: center;
    > li { text-align: left; }
  }
}
.center-btns {
  text-align: center;
  margin: em(50) 0;
}

// pricing
.modules {
  color: #666;
  &-tips {
    max-width: 50em;
    margin: 0 auto;
    > span { color: map-get($alerts, danger); }
  }
  &-wrapper {
    padding-bottom: em(50);
    margin-bottom: em(40);
    border-bottom: 1px solid map-get($color, border);
  }
  .h2 {
    font-weight: normal;
    line-height: 1.7;
    > strong { font-weight: bold; }
  }
}
.gallery-modules {
  text-align: center;
  li {
    display: inline-block;
    padding: 1.8em 2.6em;
    margin: em(20) em(10);
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid map-get($color, border);
    &:after {
      content: ' *';
      color: map-get($alerts, danger);
    }
    @include breakpoint(min 740) {
      font-size: 22px;
    }
    @include breakpoint(min 1060) {
      font-size: 25px;
    }
  }
}
.panel {
  padding-bottom: em(50);
  text-align: center;
  overflow: hidden;
  &:not(.last) {
    margin-bottom: em(50);
    border-bottom: 1px solid map-get($color, border);
  }
  .h2 {
    margin-bottom: 40px;
  }
  img:last-child {
    margin-bottom: em(-55);
  }
}